.popup {
  cursor: pointer;
}

.map-container {
  height: 80dvh;
  width: 75vw;
  border-radius: 30px;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .map-container {
    border-radius: 0;
    height: 83dvh;
    width: 100vw;
    z-index: 0;
  }
}

.custom-cluster-icon {
  background: none;
  border: none;
}